<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-10-11T04:30:36Z</date>
	<key>WorkspacePath</key>
	<string>/Users/udn/Downloads/mvc_to_mvvm_demo_starter/mvc_to_mvvm_demo.xcodeproj</string>
</dict>
</plist>
